@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(38, 33, 48, 1);

  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 68px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 5;

  background: rgba(38, 33, 48, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(38, 33, 48, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 16px;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 40px;
  padding: 0px 40px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 600px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  background: rgba(38, 33, 48, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  transition: all 0.1s ease;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(229, 228, 205, 1);
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .header {
    height: 78px;
    padding: 0;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;
    width: 1440px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    width: 1440px;
    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 40px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 109px;
  }
  .navigation__link {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  width: 375px;
  height: 780px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Section-1-Hero.png");
  padding: 336px 16px 0px;
  margin: auto;
}
.home__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 71.96px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(90deg, #7ecbd0 0%, #3c9fb4 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.home-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 29.98px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(88, 148, 174, 1);
}
.home-text-two {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 44px 0 54px;
}
.home-container-button {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.home-button {
  color: rgba(235, 254, 254, 1);

  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 240px;
  height: 62px;
  background: radial-gradient(50% 50% at 50% 50%, #396f9b 0%, #3ca0b5 100%);
  padding: 16px 0px;
  border-radius: 999px;
  border: none;
  box-shadow: 0px 0px 12px 0px rgba(57, 111, 155, 1);
}
.home-button-two {
  background: transparent;
  border: 2px solid rgba(57, 111, 155, 1);
  color: rgba(57, 111, 155, 1);
}
@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 980px;

    background-image: url("/img/home/Section-1-Hero\ \(1\).png");
    padding: 258px 786px 0px 72px;
    margin: auto;
  }
  .home__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .home-title {
    font-family: Poppins;
    font-size: 80px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text-two {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 74px 0 50px;
  }
  .home-container-button {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
}

.about {
  padding: 56px 16px;
  width: 375px;
  height: 864px;

  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/Secrion-2-About\ \(1\).png");
}
.about-title {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(60, 159, 180, 1);
  padding-left: 16px;
  border-left: 2px solid rgba(60, 159, 180, 1);
  margin: 16px 0 40px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  padding-left: 40px;
}

.feature-title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.feature-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-top: 8px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 72px;
    width: 1440px;
    height: 769px;

    background-image: url("/img/about/Secrion-2-About.png");
  }
  .about-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about-title {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 24px;
    margin: 0;
    width: 670px;
  }

  .feature-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 320px;
    padding-left: 47px;
    padding-top: 96px;
    row-gap: 123px;
  }
  .feature-two {
    padding-top: 21px;
  }
  .feature-three {
    padding-left: 290px;
  }
  .feature-four {
    padding-left: 40px;
  }
  .feature-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .feature-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-top: 8px;
    width: 278px;
  }
}

.gallery {
  margin: auto;
  padding: 56px 16px;
  width: 375px;
}

.gallery__list {
  display: flex;
  flex-direction: column;

  gap: 40px;
}

.gallery__item {
  width: 343px;

  padding: 8px;
  background: rgba(44, 37, 59, 1);
  box-shadow: 1.71px 3.43px 3.43px 0px rgba(0, 0, 0, 0.1);

  border-radius: 16px;
}
.gallery-item-top {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}
.gallery-item-top-title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.gallery-item-top-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(90deg, #7ecbd0 0%, #3c9fb4 100%);
  -webkit-background-clip: text;
  color: transparent;
  padding-top: 8px;
}
.gallery-item-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .gallery {
    margin: auto;
    padding: 80px 72px;
    width: 1440px;
  }

  .gallery__list {
    display: flex;
    flex-direction: row;
    padding-top: 96px;
    gap: 24px;
  }

  .gallery__item {
    width: 416px;
    height: 244px;
    padding: 16px;
  }
  .gallery-item-top {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 24px;
  }
  .gallery-item-top-title {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-item-top-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .gallery-item-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.blog {
  margin: auto;
  width: 375px;
  padding: 56px 16px;
}

.blog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.blog-item {
  width: 343px;
  height: 166px;
  padding: 16px;
  background: rgba(44, 37, 60, 1);
  box-shadow: 1.71px 3.43px 3.43px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.blog-item-title {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(90deg, #7ecbd0 0%, #3c9fb4 100%);
  -webkit-background-clip: text;
  color: transparent;
}
.blog-text {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 8px 0 0px;
}

@media screen and (min-width: 1200px) {
  .blog {
    margin: auto;
    width: 1440px;
    padding: 84px 72px;
  }

  .blog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 96px;
  }

  .blog-item {
    width: 636px;
    height: 170px;
    padding: 24px 32;
    background: rgba(44, 37, 60, 1);
    box-shadow: 1.71px 3.43px 3.43px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
  .blog-item-title {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .blog-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.reviews {
  width: 375px;
  padding: 56px 16px;
  margin: auto;
}
.reviews-img {
  width: 343px;
  height: 249px;
  margin: 56px 0 32px;
}
.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviews-item-title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.reviews-item-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 8px 0 0 8px;
}
@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 80px 72px;
    margin: auto;
  }
  .reviews-container {
    display: flex;
    gap: 136px;
    align-items: center;
    padding-top: 96px;
  }
  .reviews-img {
    width: 744px;
    height: 540px;
    margin: 0px;
  }
  .reviews__list {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .reviews-item-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .reviews-item-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.contact {
  padding: 65px 16px;
  width: 375px;
  margin: auto;
}
.contact-adress {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 32px;
}
.contact-adress-title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.contact-adress-item {
  display: flex;
  align-items: center;
  gap: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}
.footer-adress {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.contact-img {
  width: 343px;
  height: 178px;
}
@media screen and (min-width: 1200px) {
  .contact {
    padding: 80px 72px;
    width: 1440px;
    margin: auto;
  }
  .contact-container {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
  }
  .contact-adress {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .contact-adress-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .contact-adress-item {
    display: flex;
    align-items: center;
    gap: 24px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .contact-img {
    width: 526px;
    height: 272px;
  }
}
.faq {
  margin: auto;
  padding: 56px 16px;
  width: 375px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 343px;
}

.faq-item {
  width: 343px;
  background: rgba(44, 37, 59, 1);
  box-shadow: 1.71px 3.43px 3.43px 0px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 16px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: start;

  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(90deg, #7ecbd0 0%, #3c9fb4 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.toggle-button {
  background: none;
  border: none;
  transform: rotate(180deg);
  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 8px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media screen and (min-width: 1200px) {
  .faq {
    margin: auto;
    padding: 80px 72px;
    width: 1440px;
  }

  .faq-container {
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    width: 1296px;
  }

  .faq-item {
    width: 1296px;

    padding: 24px;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .faq-answer {
    display: none;
    padding-top: 16px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.footer {
  padding: 40px 38px 40px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 32px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.footer-text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(229, 228, 205, 1);

  text-align: center;
}

.footer-copyright {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    margin: auto;
    padding: 64px 0px 34px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    text-align: center;
  }
  .footer-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.01em;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .footer-copyright {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  padding: 120px 16px 56px;
}
.policy-terms-container h1 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-container p {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 20px;
}

.policy-terms-container h2 {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-top: 28px;
}

.policy-terms-container ul {
  list-style-type: disc;

  padding-left: 20px;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.policy-terms-container a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 116px 40px 112px;
  }
  .policy-terms-container h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policy-terms-container p {
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 20px;
  }

  .policy-terms-container h2 {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding-top: 28px;
  }

  .policy-terms-container ul {
    list-style-type: disc;

    padding-left: 20px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 20px;
  background: rgba(13, 92, 9, 0.9);

  box-shadow: 10px 10px 10px 0px #0000002e;

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}
.cookie-button-container {
  padding: 48px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.cookie-button {
  border: none;
  border-radius: 5px;
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  width: 258px;
  height: 74px;

  border-radius: 50px;
  background: rgba(255, 68, 0, 1);

  padding: 24px 0px;

  color: #000;
}

#accept-cookies {
  background: rgba(13, 255, 0, 1);
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 722px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 34px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
  }
}
